<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>About this App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="none" class="about-section">
    <ion-text>
      <h2>Hi there! 🌟</h2>
      <p>
        This is my first-ever mobile application, built with
        <strong>Ionic</strong> 🎉
      </p>
      <p>
        Created on <strong>January 24th, 2025</strong>, this app marks a big
        milestone in my journey as a mobile developer. I hope you enjoy
        exploring it as much as I enjoyed creating it!
      </p>
      <p>Thank you for taking the time to try it out. 💖</p>
    </ion-text>
  </ion-item>
</ion-content>
